# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environment
.mlopsa2env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Great Expectations generated uncommitted data
great_expectations/uncommitted/